body {
    font-family: Arial, sans-serif;
    background-color: #8fc0d6;
    display: flex;
    justify-content: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    margin-top: 40px;
    text-align: center;
}

img {
    width: 200px;
    margin: 20px 0;
}

.moves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

select {
    padding: 5px;
}

#teamContainer {
    margin-top: 20px;
}

.team-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.team-card img {
    width: 80px;
}
